<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="assets/css/style.css">
  



          
        
   <div class="content">
  <center><h2> The New York Times web scraper lets users view and leave comments/Note on the saved news.</h2></center>
  <div class="jumbotron ">
    <div class= container>
        <img id="cover" src="/assets/images/new-york-times-cover-page-nyt.jpg" height="500px" width="100%"> 
      
   </div>
    </div>
  </div>
  </head>
<body>
<div class="container" id="wrapper">
    {{{ body }}}
</div>

<div class="footer">
  <center><p>Scarpe MongoDB @copyright Praisy Abraham 2019</p></center>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"crossorigin="anonymous"></script>
<script src="assets/js/app.js" type="text/javascript"></script>
    


</body>
</html>

